MOODLE_BRANCH=MOODLE_520_STABLE

MOODLE_WWWROOT=https://moodle.curca.eu
MOODLE_TIMEZONE=Europe/Chisinau
MOODLE_SITE_FULLNAME=Aeolus Aviation Academy
MOODLE_SITE_SHORTNAME=Aeolus LMS
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_EMAIL=razrmd@gmail.com

MYSQL_DATABASE=moodle
MYSQL_USER=moodle
MYSQL_PASSWORD=change-this-moodle-db-password
MYSQL_ROOT_PASSWORD=change-this-root-password
